<!DOCTYPE html>
<html lang="zh">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--加入公司-->
        <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

		<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/static/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style_user.css" />
        <!-- Bootstrap  -->
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <!-- Theme style  -->
        <link rel="stylesheet" href="/static/css/style.css">
        <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="/static/js/modernizr.custom.79639.js"></script>
        <script type="text/javascript" src="/static/js/user_company.js"></script>
        <script type="text/javascript" src="/static/js/edit_info.js"></script>
		<!--[if lte IE 8]>
			 <link rel="stylesheet" type="text/css" href="/static/css/simple.css" />
		<![endif]-->
    </head>
    <body>
        <div class="container">
			<div class="st-container">
			
				<input type="radio" name="radio-set" checked="checked" id="st-control-1"/>
				<a href="#st-panel-1">BigRiver</a>
				<input type="radio" name="radio-set" id="st-control-2"/>
				<a href="#st-panel-2">MyCompany</a>
				<input type="radio" name="radio-set" id="st-control-3"/>
				<a href="#st-panel-3">Employees</a>
				<input type="radio" name="radio-set" id="st-control-4"/>
				<a href="#st-panel-4">EditInfo</a>
				<input type="radio" name="radio-set" id="st-control-5"/>
				<a href="#st-panel-5">AboutBOT_.</a>
				
				<div class="st-scroll">

					<section class="st-panel" id="st-panel-1">
						<div class="st-deco" data-icon="2"></div>
						<h2>Welcome Back To work</h2>
						<p style="font: 'Microsoft JhengHei'">BigRiver  |  @BOT._</p>
						<p>
							<!--需要修改的链接-->

							<a class="htmleaf-icon icon-home" href="../aboutBOT/" title="了解我们" target="_blank"></a> |
							<a class="htmleaf-icon icon-arrow-right3" href="" title="影分身之术" target="_blank"></a>
						</p>
					</section>
					
					<section class="st-panel st-color" id="st-panel-2">
						<div class="st-deco" data-icon="S"></div>
                        <h2 id="joined-company"></h2>
                        <tbody id = 'company-body' class="animated fadeInUp">
                        <div id='search-container'>
                            <p>您还未加入公司，请选择加入。</p>
                            <p id="new_company"><img src="/static/images/building.png" height="50" width="50" title="新建一个"></p>
                            <div id='search-container'>
                                <div class='search-bar'>
                                    <form><input id="input-company" type='text' placeholder='请输入公司确切ID...'><button id = 'submit-company'></button></form>
                                </div>
                            </div>
                        </div>
                        </tbody>
					</section>
					
					<section class="st-panel" id="st-panel-3">
{#						<div class="st-deco" data-icon="S"></div>#}
						<IFRAME NAME="content_frame" width=100% height=100% marginwidth=0 marginheight=0 SRC="/boss/employees/" ></IFRAME>
					</section>
					
					<section class="st-panel st-color" id="st-panel-4">
						<a class="st-deco" id="exit" data-icon="a" title="退出登录"></a>
                            <div id="edit-container">
                                <div class="col-md-12">
                                    <label for="name_edit">Real Name</label>
                                    <input type="text" class="form-control" name = "name_edit"
                                           id="name_edit" placeholder="原来姓名">
                                </div>
                                <div class="col-md-12">
                                    <label for="name_edit">Password</label>
                                    <input type="password" class="form-control" name = "password_edit"
                                           id="password_edit" placeholder="原来密码">
                                </div>
                                <div class="col-md-12">
                                    <label for="name_edit">E-mail</label>
                                    <input type="text" class="form-control" name = "email_edit"
                                           id="email_edit" placeholder="原来邮箱">
                                </div>
                                <button id ="submit-edit" class="btn-primary" onclick="submit()">提交更改</button>
                                <a id="modol-again" href="/login/regist/face" target="_blank">重新录入人脸</a>
                            </div>


					</section>
					
					<section class="st-panel" id="st-panel-5">
						<div class="st-deco" data-icon="x"></div>
						<h2>Extra debug PAGE</h2>
						<p>BOT——一个大哥三个GAY</p>
					</section>

				</div><!-- // st-scroll -->
				
			</div><!-- // st-container -->
			
        </div>
        <script>
            function getCookie(name) {
                var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");

                if(arr=document.cookie.match(reg))

                    return unescape(arr[2]);
                else
                    return null;
            }
            function submit(){
                var name = document.getElementById('name_edit').value;
                var email = document.getElementById('email_edit').value;
                var password = document.getElementById('password_edit').value;
                if(name==''&&email==''&&password==''){
                    alert("您没有填写任何信息。")
                }
                else {
                    $.ajaxSetup({
                        headers: { "X-CSRFToken": getCookie("csrftoken") }
                    });
                    $.ajax({
                        type: 'POST',
                        url: "/useredit/",
                        data: {
                            'user_id': getCookie('user_id'),
                            'name': name,
                            'email': email,
                            'password': password
                        },
                        success: function (data) {
                            if (data)
                                alert("修改资料成功！")
                            else
                                alert("修改资料失败！")
                            window.location.reload();
                        }
                    })
                }
            }
        </script>
	</body>
</html>