<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BOT_.</title>
    <h>可能是最厉害的AI小组了。</h>
</head>
<body>
<div style="position: relative;">
    <img  src="/static/images/jyl.jpg"/>
    <span style="position: absolute;bottom: 0px;">
        <a href="../aboutBOT" of list; trackBy:.id"">大江</a>
    </span>
</div>
<div style="position: relative;">
    <img  src="/static/images/lqf.jpg"/>
    <span style="position: absolute;bottom: 0px;">
        <a href="../aboutBOT">大廖.</a>
    </span>
</div>
<div style="position: relative;">
    <img  src="/static/images/loader.gif"/>
    <span style="position: absolute;bottom: 0px;">
        <a href="http://baidu.com">仙女</a>
    </span>
</div>
<div style="position: relative;">
    <img  src="/static/images/lyw.jpg"/>
    <span style="position: absolute;bottom: 0px;">
        <a href="../aboutBOT">大鱼</a>
    </span>
</div>


</body>
</html>