<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建新公司</title>
    <link rel="stylesheet" href="/static/css/style_user.css">
    <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="/static/js/user_company.js"></script>
</head>
<body>
<div id="create-bar-container">
    <div id="user_id" class = "create_bar">
        <input class="create_input" id="user_id_create" type="text"/>
        <label>用户ID</label>
    </div>
    <div id="company_name" class = "create_bar">
        <input class="create_input" id="name_create" type="text"/>
        <label>公司名称</label>
    </div>
    <div id="taxNumber" class = "create_bar">
        <input class="create_input" id="taxNumber_create" type="text"/>
        <label>税号</label>
    </div>
    <button id="create-submit">提交</button>
</div>
</body>
</html>