<!DOCTYPE html>
<html lang="zh">
    <head>
		<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--加入公司-->
        <link href="http://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

		<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/static/css/default.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style_user.css" />
        <script src="http://code.jquery.com/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="/static/js/modernizr.custom.79639.js"></script>
        <script type="text/javascript" src="/static/js/join_company.js"></script>
		<!--[if lte IE 8]>
			 <link rel="stylesheet" type="text/css" href="/static/css/simple.css" />
		<![endif]-->
    </head>
    <body>
        <div class="container">
			<div class="st-container">
			
				<input type="radio" name="radio-set" checked="checked" id="st-control-1"/>
				<a href="#st-panel-1">BigRiver</a>
				<input type="radio" name="radio-set" id="st-control-2"/>
				<a href="#st-panel-2">MyCompany</a>
				<input type="radio" name="radio-set" id="st-control-3"/>
				<a href="#st-panel-3">Calendar</a>
				<input type="radio" name="radio-set" id="st-control-4"/>
				<a href="#st-panel-4">EditInfo</a>
				<input type="radio" name="radio-set" id="st-control-5"/>
				<a href="#st-panel-5">AboutBOT_.</a>
				
				<div class="st-scroll">

					<section class="st-panel" id="st-panel-1">
						<div class="st-deco" data-icon="2"></div>
						<h2>Welcome Back To work</h2>
						<p style="font: 'Microsoft JhengHei'">BigRiver  |  @BOT._</p>
						<p>
							<!--需要修改的链接-->

							<a class="htmleaf-icon icon-home" href="../aboutBOT/" title="了解我们" target="_blank"></a> |
							<a class="htmleaf-icon icon-arrow-right3" href="../face/" title="今日打卡" target="_blank"></a>
						</p>
					</section>
					
					<section class="st-panel st-color" id="st-panel-2">
						<div class="st-deco" data-icon="S"></div>
                        <h2 id="joined-company"></h2>
                        <tbody id = 'company-body' class="animated fadeInUp">
                        <div id='search-container'>
                            <p>您还未加入公司，请选择加入。</p>
                            <div id='search-container'>
                                <div class='search-bar'>
                                    <form><input type='text' placeholder='请输入公司名称或确切ID...'><button id = 'submit-company'></button></form>
                                </div>
                            </div>
                        </tbody>
					</section>
					
					<section class="st-panel" id="st-panel-3">
						<div class="st-cal" data-icon="z"></div>
						<IFRAME NAME="content_frame" width=100% height=100% marginwidth=0 marginheight=0 SRC="../calendar/" ></IFRAME>
					</section>
					
					<section class="st-panel st-color" id="st-panel-4">
						<a class="st-deco" data-icon="a"><span>退出登录</span></a>
						<h2>EditInfo</h2>
						<p>修改信息HTML插入</p>
					</section>
					
					<section class="st-panel" id="st-panel-5">
						<div class="st-deco" data-icon="x"></div>
						<h2>Extra debug PAGE</h2>
						<p>BOT——一个大哥三个GAY</p>
					</section>

				</div><!-- // st-scroll -->
				
			</div><!-- // st-container -->
			
        </div>
	</body>
</html>